.e-menu
	width: 100%
	.navbar,.navbar-default
		border: none
		padding: 0px
		margin: 0px
		background-color: rgba($blanco, 0.0)
	.container-fluid
		padding: 0px
		margin: 0px
		.navbar-header
			display: none
		.navbar-collapse
			margin: 0px
			padding: 0px
			ul.navbar-nav
				li
					font-size: 0.9em
					a
						padding: 10px
						background-color: rgba($verde, 0.0)
						color: $grisoscuro
						&:hover
							color: $verde
							text-decoration: underline

