*
	margin: 0px
	padding: 0px
body
	background-color: $blanco
	font-family: 'Open Sans', sans-serif
	font-size: 16px
header
	width: 100%
	background-color: $blanco
.contenedor
	background-image: url(../images/metanoiaradio.jpg)
	background-position: center center
	background-repeat: no-repeat
	background-attachment: fixed
	background-size: cover
	background-color: #464646
	position: absolute 
	width: 100% 
	height: 100%
	padding: 20px
	.t-1
		display: flex
		flex-flow: row wrap
		justify-content: center
		align-items: center
		align-content: center
		.logo
			max-width: 120px
			img
				width: 100%
		.titulos
			width: 100%
			vertical-align: middle
			text-align: center
			.primary
				font-size: 1.4em
				color: $blanco
			.second
				font-size: 1.1em
				color: $verde

	.t-3
		background-color: rgba($grisoscuro, 0.5)
		padding: 20px
		color: $blanco
	